build
toold/build/
**/log.txt
.vscode/launch.json
.vscode/tasks.json
**/.DS_Store
/ols.json
**/*.disabled
/run.bat
/build.bat
/run.sh
/build.sh
shared/vx_lib/_examples/build/
shared/fmod/*.lib
build/fmo*.dll
res/vx_lib/sfx/**
